* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(41, 40, 40);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.container {
  width: 80%;
  height: 500px;
  margin-top: 10px;
  background-color: rgb(27, 24, 24);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid white;
}

tr {
  height: 30px;
}

.cities-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

hr {
  width: 100%;
}

.cities {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
